.mainContainer {
  width: 100%;
  min-height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
  padding-inline: 25vw;
  background-color: transparent;
}

.titleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 3;
  width: 100%;
  height: fit-content; 
  padding: 4vh 5vh;
  margin-bottom: 20vh;
}

.gridLineVertical {
  --color: rgba(0, 0, 0, 0.5);
  --height: 1px;
  --width: 8px;
  /* Bleed in or out from the container */

  position: absolute;
  top: -50%;
  left: 0;
  width: 1px;
  height: 0%;
  
  background: linear-gradient(
    to bottom,
    #000 , /* first color */
     #000 25% 50%, /* second color and the percentage of where starts and ends*/
    transparent 50%,
    transparent
  );
  background-size: 1px 8px;
  background-repeat: repeat; 
  animation: showVerticalLines 0.8s 0.65s ease-in-out forwards;
}

.gridLineVerticalRight {
  --color: rgba(0, 0, 0, 0.5);
  --height: 1px;
  --width: 8px;
  /* Bleed in or out from the container */

  position: absolute;
  bottom: -50%;
  left: 100%;
  width: 1px;
  height: 0%;
  
  background: linear-gradient(
    to bottom,
    #000 , /* first color */
     #000 25% 50%, /* second color and the percentage of where starts and ends*/
    transparent 50%,
    transparent
  );
  background-size: 1px 8px;
  background-repeat: repeat; 
  animation: showVerticalLines 0.8s 0.65s ease-in-out forwards;
}

.gridLineHorizontal {
  --color: rgba(0, 0, 0, 0.5);
  --height: 1px;
  --width: 8px;
  /* Bleed in or out from the container */

  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 1px;
  
  background: linear-gradient(
    to right,
    #000 , /* first color */
     #000 25% 50%, /* second color and the percentage of where starts and ends*/
    transparent 50%,
    transparent
  );
  background-size: 8px 1px;
  background-repeat: repeat; 
  animation: showHorizontalLines 0.8s 0.65s ease-in-out forwards;
}

.gridLineHorizontalBottom {
  --color: rgba(0, 0, 0, 0.5);
  --height: 1px;
  --width: 8px;
  /* Bleed in or out from the container */

  position: absolute;
  bottom: -10%;
  right: 0;
  width: 0%;
  height: 1px;
  
  background: linear-gradient(
    to right,
    #000 , /* first color */
     #000 25% 50%, /* second color and the percentage of where starts and ends*/
    transparent 50%,
    transparent
  );
  background-size: 8px 1px;
  background-repeat: repeat; 
  animation: showHorizontalLines 0.8s 0.65s ease-in-out forwards;
}

.title {
  font-family: var(--sora);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  z-index: 3;
  text-align: center;
}


.subtitleInlineContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 3;
  width: fit-content;
  height: fit-content; 
  gap: 20px; 
}

.subtitle {
  width: fit-content;
  height: fit-content;
  font-family: var(--sora);
  font-size: 1.4rem;
  font-weight: 300;
  padding: 10px 20px;
  background-color: var(--gray);
  color: var(--dark-gray); 
  border-radius: 10px;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: 1px solid transparent;
  opacity: 0;
  transition: all 0.15s ease;
  animation: appear 0.15s 0.8s ease-in-out forwards;
}

.subtitle:nth-child(2):active {
  transform: scale(0.89);
}

.subtitle:nth-child(2):focus {
  box-shadow: 
    inset 0px 0px 0px 2px var(--background-color),
    0px 0px 0px 2px var(--vibrant-blue);
}

.title::selection, .title::-moz-selection, .title::-webkit-selection, 
.subtitle::selection, .subtitle::-moz-selection, .subtitle::-webkit-selection {
  background-color: var(--selection);
  color: var(--selection-text);
}

@keyframes showVerticalLines {
  0% {
    height: -50%;
  }
  80% {
    opacity: 1;
  }
  100% {
    height: 200%;
    opacity: 0.3;
  } 
}

@keyframes showHorizontalLines {
  0% {
    width: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 93%;
    opacity: 0.3;
  } 
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

@media (max-width: 768px) {
  .firstSection {
    height: calc(100vh - 100px);
    padding: 0 5vw;
  }
  
  .overlay {
    display: none; 
  }

  .grid {
    display: none; 
  }

  .titleContainer {
    margin-inline: 5vw;
    align-items: center;
  }

  .subtitle:nth-child(2) {
    display: none;
  }
}