/* CUSTOM COMPONENTS FOR MARKDOWN FILES */
.h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 15px;
}

.h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 10px;
}

.h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 10px;
}

.p {
  width: 100%;
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 25px; 
}
.ul {
  display: block;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 25px; 
  z-index: -1;
}

.li {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  z-index: 0;
}

.img {
  display: block;
  width: 100%;
  height: auto;
  margin: 15px 0;
  border-radius: 15px;
}

.a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  text-decoration: underline; 
}

.strong {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
}

.blockquote {
  width: 100%;
  height: fit-content;
  padding: 15px; 
  background-color: var(--notice-background);
  box-shadow: 0px 0px 0px 1px var(--notice);
  border-radius: 10px; 
  margin-bottom: 25px; 
}

.blockquote > p {
  color: var(--notice);
  font-size: 1rem;
  font-weight: 300;
  padding: 0px; 
  margin: 0px; 
}

.pre {
  width: 100%;
  height: fit-content; 
  border-radius: 10px; 
  margin-bottom: 25px; 
  background-color: var(--code-snipet-background);
  color: var(--text-reverse);
}

.code {
  width: fit-content;
  height: fit-content;
  padding: 1px 6px; 
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--source-code-pro);
  border-radius: 3px;  
  background-color: var(--code-snipet-background);
  color: var(--text-reverse);
}

.code > * {
  font-size: 0.9rem;
  font-family: var(--source-code-pro);
  color: var(--text-reverse);
}

@media (min-width: 1900px) {
  .h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .h2 {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
  .h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .p {
    font-size: 1.1rem;
    margin-bottom: 30px; 
  }
  .blockquote > p {
    font-size: 1.1rem;
  }
  .code > * {
    font-size: 1rem;
    font-family: var(--source-code-pro);
    color: var(--text-reverse);
  }
}