.parentContainer {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  padding: 0 30vw; 
  background-color: var(--background-color);
}

.title {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--text);
  margin: 0;
  padding: 0;
  margin-left: 20px; 
  margin-bottom: -30px;
  z-index: 1;
}

.recentsContainer {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 25px; 
  height: 70vh;
  width: 100%;
  margin-bottom: 100px; 
}


.asterisk{
  position: absolute;
  height: auto;
  width: 20vw;
  z-index: 0;
  opacity: 0.2;
  filter: blur(4px); 
}

.asterisk:first-child {
  top: 0%;
  left: 13%;  
  transform: translate(-50%, -50%);
  transform: rotate(52deg);
}

.asterisk:nth-child(even) {
  scale: 1.3;
  top: 40%;
  right: 10%;
  transform: translate(-50%, -50%);
  transform: rotate(-60deg);
}

@media (max-width: 768px) {
  .parentContainer {
    padding: 0 5vw; 
  }

  .recentsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    height: 100vh;
  }

  .asterisk {
    display: none;
  }
}

