.twitch {
  display: none;
  position: fixed;
  bottom: 0px; 
  right: 0px; 
  aspect-ratio: 16/9;
  z-index: 9999; 
  margin: 50px; 
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px var(--text);
  outline: none; 
  border: none;
  animation: appear 0.20s ease-in-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 768px) {
  .twitch {
    display: none;
  }
}