.vertical {
  position: absolute;
  --color: rgba(0, 0, 0, 0.5);
  --height: 1px;
  --width: 8px;
  /* Bleed in or out from the container */

  width: 1px;
  height: 0%;
  
  background: linear-gradient(
    to bottom,
    #000 , /* first color */
     #000 25% 50%, /* second color and the percentage of where starts and ends*/
    transparent 50%,
    transparent
    );
  background-size: 1px 8px;
  background-repeat: repeat; 
  animation: showVerticalLines 0.8s 0.55s ease-in-out forwards;
}

.horizontal {
  --color: rgba(0, 0, 0, 0.5);
  --height: 1px;
  --width: 8px;
  /* Bleed in or out from the container */

  position: absolute;
  width: 0%;
  height: 1px;
  
  background: linear-gradient(
    to right,
    #000 , /* first color */
     #000 25% 50%, /* second color and the percentage of where starts and ends*/
    transparent 50%,
    transparent
  );
  background-size: 8px 1px;
  background-repeat: repeat; 
  animation: showHorizontalLines 0.8s 0.70s ease-in-out forwards;
    /* Fade out the edges */
}

.topLeft {
  top: 0px; 
  left: 0px;
}

.topRight {
  top: 0px; 
  right: 0px;
}

.bottomLeft {
  bottom: 0px; 
  left: 0px;
} 

.bottomRight {
  bottom: 0px; 
  right: 0px;
}

/* OPTIONAL OFFSET STYLE */
.offsetTop {
	-webkit-mask: linear-gradient(
    to top, 
    #fff 60%, 
    #000,  
    transparent 
  )
}

.offsetBottom {
  mask-composite: exclude;
  -webkit-mask: linear-gradient(
    to bottom, 
    #fff 60%, 
    #000, 
    transparent 
  )
}

.offsetLeft {
  mask-composite: exclude;
  -webkit-mask: linear-gradient(
    to left, 
    #fff 60%, 
    #000, 
    transparent 
  )
}

.offsetRight {
  mask-composite: exclude;
  -webkit-mask: linear-gradient(
    to right, 
    #fff 60%, 
    #000, 
    transparent 
  )
}

@keyframes showVerticalLines {
  0% {
    height: 0%;
  }
  80% {
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 0.3;
  } 
}

@keyframes showHorizontalLines {
  0% {
    width: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0.3;
  } 
}